body, h1, h2, p {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
 font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #48618B;
  color: #fff;
  padding: 1rem;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}
nav a:hover {
  text-decoration: underline;
}
main {
  padding: 9rem;
  background-color: white;
}
.footer {
  background-color: #48618B;
  color: #FFF;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}